.container.users
  h1
    strong User list
  table.table
    thead
      tr
        th Name
        th
          a(
          @click="toggleSortMode()"
          ) E-mail
        th Phone
        th Birthday
    tbody
      tr(
      v-for="user in users"
      )
        td {{ user.username }}
        td {{ user.email }}
        td {{ user.phone }}
        td {{ parseDate(user.birthday) }}
