.container.add_user
  h1
    strong Add user
  form
    .form-group

      label(
      for="name"
      ) Name:

      input#name.form-control(
      type="text"
      name="name"
      v-model="user.username"
      placeholder="enter username",
      v-validate="'required'"
      )

      small(
      class="text-danger"
      ) {{ errors.first('name') }}
    .form-group
      label(
      for="email"
      ) Email:

      input#email.form-control(
      type="text"
      name="email"
      v-model="user.email"
      v-validate="'required|email'"
      placeholder="enter email"
      )

      small(
      class="text-danger"
      ) {{ errors.first('email') }}
    .form-group
      label(
      for="phone"
      ) Phone:

      input#phone.form-control(
      type="text"
      name="phone"
      v-model="user.phone"
      placeholder="enter phone"
      v-validate="'required|numeric'"
      )

      small(
      class="text-danger"
      ) {{ errors.first('phone') }}
    .form-group
      label Birthday:

      date-picker(
      input-class="form-control"
      v-model="user.birthday"
      )
    .form-group
      button(
      type="button"
      class="btn btn-success btn-block",
      @click="onSubmit"
      ) add